{{#each articles}}
    {{#if saved}}
        <li class="article-block">
        <div class='panel panel-default' data-id="{{_id}}">
                    
            <button class="btn btn-danger delete">X</button>                   
            
            <a class='article-link' target='_blank' href='{{link}}'>
                <h4 class="title">{{title}}</h4>
            </a>                     
             {{#if author}}
                <p class="author"> {{author}}</p>
            {{/if}}
            {{#unless author}}
                <p class="author">popular</p>
            {{/unless}} 
           <div class="comments" id={{_id}}></div>

            {{#if comment}}               
                <button class="comment-btn btn" >view</button>
                {{!-- <button class="delete-comment-btn btn" data-id={{}} >delete</button> --}}
            {{/if}}
            {{#unless comment}}                
                {{!-- <button class="comment-btn btn" >view</button> --}}
                {{!-- <div class="comments" id={{_id}}></div> --}}
                <button class="comment-btn btn" >comment</button>
            {{/unless}} 
                {{!-- <button class='btn btn-success save'> save article </button>  --}}
            </div> 
        </li>
    {{/if}}
{{/each}}

    